.header{
	background: $gray;
	&-box{
		width: (1190.88/1280)*100%;
//		margin: 5.41rem auto 0;
		margin: 0 auto;
		padding-top: 5.41rem;
		display: flex;
	}
	&-logo{
		width: (184.36/1190.88)*100%;
		margin-left: -.3%;
	}
	&-txt{
		font-family: $noto;
		font-size: 1.8rem;
		font-weight: bold;
		line-height: 3.2;
		margin-left: 25.4%;
	}
}
.header._single{
	.header-box{
		padding-bottom: 4.5rem;

	}
	.header-txt{
		font-family: $noto;
		font-size: 3.2rem;
		color: $aqua;
		line-height: 1.6;
	}
}
.gnav-btn{
	width: (80/1190.88)*100%;
	height: 5.5rem;
	position: fixed;
	top:5.5rem;
	right: 3.5%;
	z-index: 9999;
	display: block;
	span{
		display: block;
		height: .3rem;
		background: $white;
		position: absolute;
		right: .2rem;
		
		&:first-of-type{
			width: 100%;
			top:.9vw;
			transition: .5s;
		}
		
		&:nth-of-type(2){
			width: (64/80)*100%;
			top:2.5vw;
			transition: .5s;
		}
	}
}
//.gnav-wrap{
//	display: none;
//}
.gnav-btn.open{
	display: block;
	span{
		display: block;
		height: .3rem;
		background: $white;
		position: absolute;
		right: .2rem;
		
		&:first-of-type{
			width: 100%;
			top:.9vw;
			transform: rotate(45deg);
			transition: .5s;
		}
		
		&:nth-of-type(2){
			width: 100%;
			top:.9vw;
			transform: rotate(-45deg);
			transition: .5s;
		}
	}
}
.gnav-wrap{
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	z-index: 1000;
	backdrop-filter: blur(10px);
	background: rgba(51,51,51,0.8);
	padding: 5.4rem 10%;
	
	.header-txt{
		text-align: center;
		color: $white;
	}
	
	.gnav{
		&::after{
			content: '';
			width: 20%;
			height: .2rem;
			background: $white;
			display: block;
		}
		&-ul{
			margin-bottom: 3rem;
			li{
				a{
					color: $white;
					font-family: $poppins;
					font-size: 3.2rem;
					font-weight: bold;
					
					&:hover{
						color: $aqua;
					}
				}
			}
		}
	}//gnav
	.news-box{
		width: 100%;
		margin-top: 4rem;
		.news-tit{
			color: $white;
		}
		.news-txt{
			color: $white;
		}
	}//news-box
	
}