.learn{
	background: url("../img/bk_learn@2x.png") no-repeat;
	background-size: contain;
	margin-top: -13.3rem;
	margin-bottom: 13.6rem;
	padding-top: 55.5rem;
	padding-left: 10%;
	
	
	&-tit{
		font-family: $noto;
		font-weight: bold;
		font-size: 8rem;
		letter-spacing: (40/1000)*1em;
		line-height: (130/80);
		
		span{
			position: relative;
			
			&::after{
				content:'学ぶ';
				font-size: 8rem;
				position: absolute;
				top:-6px;
				left: 6px;
				-webkit-text-stroke-width: 1px;
				-webkit-text-stroke-color: $black;
				-webkit-text-fill-color: $white;
			}		
		}
	}
	&-btn{
		@include btn_yajirusi();
		margin-top: 3vw;
	}
}