._single{
	.under-tit-wrap{
		display: flex;
		padding: 0;
		background: $white;
	}
	.under-tit{
		background: $beige;
		padding: 2rem 0;
		font-family: $poppins;
		font-size: 2.4rem;
		color: $purple;
		width: 100%;
		text-align: center;
		padding-left: 8.7%;
		margin-bottom: 17.6rem;
	}
	.archive-btn{
		@include btn-archive();
		width: 9.591603%;
		height: 23.8rem;
		a{
			&::before{
				top:3.1rem;
			}
			span{
				top:13.9rem;
			}
		}
	}//archive-btn
	.under-wrap{
		width: (816/1280)*100%;
		margin: 0 auto;
	}
	p.under-tit{
		font-family: $noto;
		font-size: 4.6rem;
		line-height: (68/46);
		background: $white;
		color: $black;
		padding: 0;
		text-align: left;
		margin-bottom: 3rem;
	}
	.under-inner{
		width: (606/816)*100%;
		margin-top: 8rem;
		
		p{
			font-family: $noto;
			font-size: 2rem;
			line-height: 2;
			margin-bottom: 4rem;
		}
		img{
			margin: 5.3rem 0 6.1rem;
		}
	}
}