@mixin btn_yajirusi{
	font-family: $poppins;
	font-weight: 500;
	font-size: 2.4rem;
	color: $orange;
	letter-spacing: (40/1000)*1em;
	margin-left: 27.2%;
	display: block;
	width: fit-content;
	&::after{
		content: url("../img/btn_learn.png");
		display: inline-block;
		margin-left: 2.9rem;
		transition: .3s;
	}
	
	&:hover{
		&::after{
			transform: scale(1.2);
			transition: .3s;
		}
	}
}
@mixin btn-archive{
	width: (111/1048)*100%;
	height: 30rem;
	position: relative;

	a{
		display: block;
		width: 100%;
		height: 100%;
		background: $light_blue;
		transition: .3s;
		&::before{
			content: url("../img/btn_news.png");
			width: 4.8rem;
			height: 4.8rem;
			position: absolute;
			top:4.1rem;
			left: 0;
			right: 0;
			margin: auto;
		}
		span{
			transform: rotate(90deg);
			position: absolute;
			top:169px;
			left: 0;
			right: 0;
			margin: auto;
			font-family: $poppins;
			font-size: 2.4rem;
			letter-spacing: (40/1000)*1em;
			color: $orange;
		}

		&:hover{
			background: $orange;
			transition: .5s;
			&::before{
				content: url("../img/btn_news_hover.png");
			}
			span{
				color: $white;
			}

		}

	}

}