@mixin h2-tit{
	font-family: $poppins;
	font-weight: bold;
	color: $purple;
	letter-spacing: (60/1000)*1em;
	line-height: 1;
}
@mixin h2-tit_pink-border{
	font-family: $poppins;
	font-weight: bold;
	font-size: 12rem;
	line-height: 1;
	letter-spacing: (40/1000)*1em;
	color: $purple;
	margin-left: 10%;
	position: relative;
	height: 1em;

	&::before{
		content: '';
		width: 19.6rem;
		height: 5.9rem;
		display: block;
		background: $orange;
		position: absolute;
		top:0;
		left:-.1rem;
		z-index: 1;
	}


	span{
		display: block;
		position: absolute;
		top:0;
		left: 6.7%;
		z-index: 5;	

	}
}